In [1]:
#LAB 5-1, 1
even = [2, 4, 6, 8 ,10]
print(f"even_list = {even}")

even_list = [2, 4, 6, 8, 10]

In [5]:
# 5-1, 2
a = []
for i in range(2, 11, 2):
    a.append(i)
print(a)

[2, 4, 6, 8, 10]

In [6]:
# 5-1, 3
a = ['Korea', 'China', 'India', 'Nepal']
print(f"nations = {a}")

nations = ['Korea', 'China', 'India', 'Nepal']

In [7]:
# 5-1. 4
friends = ['길동', '철수', '은지', '지은', '영민']
print(f"friends = {friends}")

friends = ['길동', '철수', '은지', '지은', '영민']

In [8]:
# 5-1, 5
a = 'xyz'
b = [a[0], a[1], a[2]]
print(f"string = {b}")

string = ['x', 'y', 'z']

In [9]:
# LAB 5-2, 1
prime_list = [2, 3, 5, 7]
print(f"prime_list의 첫 원소 : {prime_list[0]}")

prime_list의 첫 원소 : 2

In [10]:
# 5-2, 2
prime_list = [2, 3, 5, 7]
print(f"prime_list의 마지막 원소 : {prime_list[3]}")

prime_list의 마지막 원소 : 7

In [11]:
# 5-2, 3
prime_list = [2, 3, 5, 7]
print(f"prime_list의 마지막 원소 : {prime_list[-1]}")

prime_list의 마지막 원소 : 7

In [12]:
# 5-2. 4
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"nations의 첫 원소 : {nations[0]}")

nations의 첫 원소 : Korea

In [13]:
# 5-2, 5
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"nations의 마지막 원소 : {nations[-1]}")

nations의 마지막 원소 : Malaysia

In [14]:
# 5-2, 6
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"nations의 마지막 원소 : {nations[len(nations)-1]}")

nations의 마지막 원소 : Malaysia

In [15]:
# LAB 5-3, 1
prime_list = [2, 3, 5, 7]
print(f"소수 목록 : {prime_list}")
prime_list.append(11)
print(f"추가 후 소수 목록 : {prime_list}")

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]

In [16]:
# 5-3, 2
prime_list = [2, 3, 5, 7]
prime_list.append(11)
print(f"삭제 전 소수 목록 : {prime_list}")
prime_list.remove(3)
print(f"삭제 후 소수 목록 : {prime_list}")

삭제 전 소수 목록 : [2, 3, 5, 7, 11]
삭제 후 소수 목록 : [2, 5, 7, 11]

In [17]:
# 5-3, 3
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"국가 목록 : {nations}")
nations.append('Nepal')
print(f"추가 후 국가 목록 : {nations}")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [18]:
# 5-3, 4
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"국가 목록 : {nations}")
nations.append('Nepal')
print(f"추가 후 국가 목록 : {nations}")
if 'Japan' in nations:
    print("Japan 는(은) 국가 목록에 있습니다.")
else:
    print("Japan 는(은) 국가 목록에 없습니다.")
if 'Russia' in nations:
    print("Russia 는(은) 국가 목록에 있습니다.")
else:
    print("Russia 는(은) 국가 목록에 없습니다.")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [19]:
# LAB 5-4, 1
prime_list = [2, 3, 5, 7]
print(f"1에서 10까지의 소수 : {prime_list}")
print(f"최솟값 : {min(prime_list)}")
print(f"최댓값 : {max(prime_list)}")
print(f"합계 : {sum(prime_list)}")
print(f"평균 : {sum(prime_list) / len(prime_list)}")

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [20]:
# 5-4, 2
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f"국가 목록 : {nations}")
nations.sort()
print(f"사전에 가장 먼저 나오는 나라 : {nations[0]}")
print(f"사전에 가장 뒤에 나오는 나라 : {nations[-1]}")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [21]:
# LAB 5-5, 1
# append는 덧붙이는 함수이므로 [1, 2, 3, [10, 20, 30]] 
# extend는 연장하는 함수이므로 [1, 2, 3, 10, 20, 30]
a = [1, 2, 3]
b = [10, 20, 30]
a.append(b)
print(a)
a = [1, 2, 3]
a.extend(b)
print(a)
"""
[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]
"""

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [22]:
# 5-5, 2
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f"nlist = {nlist}")

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# 5-5, 3
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist.insert(0, 0)
print(f"nlist = {nlist}")

In [24]:
# 5-5, 4
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist.insert(0, 0)
nlist.reverse()
print(f"nlist = {nlist}")

In [28]:
# 5-5, 5
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist.insert(0, 0)
nlist.reverse()
print(f"마지막 원소 = {nlist.pop()}")
print(nlist)

마지막 원소 = 0
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# LAB 5-6, 1
import  sys
temp = [1, 2, 3]
list = []
print("반복할 정수를 입력하시오 : ", end = "")
n = int(sys.stdin.readline())
for i in range(n):
    list.extend(temp)
print(list)

반복할 정수를 입력하시오 :

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# LAB 5-7, 1
n = []
for i in range(15):
    print(i)
    n.append(str(i))
int_list = list(map(int, n))
print(int_list)

In [30]:
# 5-7, 2
n = []
for i in range(15):
    n.append(str(i))
n_list = list(map(int, n))
rev = n_list[::-1]
print(f"s_list1 = {n_list[0 : 5]}")
print(f"s_list2 = {n_list[5:11]}")
print(f"s_list3 = {n_list[11 : 15]}")
print(f"s_list4 = {n_list[2 : 11 : 2]}")
print(f"s_list5 = {rev[4:9]}")
print(f"s_list6 = {rev[4:14 : 2]}")

TypeError: 'list' object is not callable

In [31]:
# LAB 6-1, 1
# LAB 8, 11, 12 빼고 풀기
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [32]:
# 6-1, 2
fruit_dic = {'apple' : '5000', 'banana' : '4000', 'grape' : '5300', 'melon' : '6500'}
print(f"apple의 가격은 {fruit_dic['apple']}원 입니다.")
print(f"banana의 가격은 {fruit_dic['banana']}원 입니다.")
print(f"grape의 가격은 {fruit_dic['grape']}원 입니다.")
print(f"melon의 가격은 {fruit_dic['melon']}원 입니다.")

apple의 가격은 5000원 입니다.
banana의 가격은 4000원 입니다.
grape의 가격은 5300원 입니다.
melon의 가격은 6500원 입니다.

In [33]:
# LAB 6-2, 1
person = {'이름' : '홍길동', '나이' : '26', '몸무게' : '82'}
person['특기'] = '분신술'
print(person)

{'이름': '홍길동', '나이': '26', '몸무게': '82', '특기': '분신술'}

In [34]:
# 6-2, 2
person = {'이름' : '홍길동', '나이' : '26', '몸무게' : '82'}
person['특기'] = '분신술'
person['아버지'] = '홍판서'
print(person)

{'이름': '홍길동', '나이': '26', '몸무게': '82', '특기': '분신술', '아버지': '홍판서'}

In [35]:
# 6-2, 3
person = {'이름' : '홍길동', '나이' : '26', '몸무게' : '82'}
person['특기'] = '분신술'
person['아버지'] = '홍판서'
del person['나이']
print(person)

{'이름': '홍길동', '몸무게': '82', '특기': '분신술', '아버지': '홍판서'}

In [36]:
# LAB 6-3
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
if 'Korea' in capital_dic:
    print('True')
else:
    print('False')
if 'China' in capital_dic:
    print('True')
else:
    print('False')
if 'Indonesia' in capital_dic:
    print('True')
else:
    print('False')
if 'Beijing' in capital_dic:
    print('True')
else:
    print('False')

True
True
False
False

In [37]:
# LAB 6-4, 1,2,3,4,5
fruit_dic = {'apple' : '6000', 'melon' : '3000', 'banana' : '5000', 'orange' : '7000'}
#1
print(fruit_dic.keys())
#2
print(fruit_dic.values())
#3
fruit_dic.pop('apple')
print(fruit_dic)
#4
fruit_dic.clear()

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values(['6000', '3000', '5000', '7000'])
{'melon': '3000', 'banana': '5000', 'orange': '7000'}

In [38]:
# LAB 6-5, 1,2,3,4
#1
fruit_dic = {'apple' : '6000', 'melon' : '3000', 'banana' : '5000', 'orange' : '7000'}
a = list(map(str, fruit_dic.keys()))
print(a)
#2
a = list(map(str, fruit_dic.values()))
print(a)
#3
print(f"fruits_dic 딕셔너리의 항목의 개수 : {len(fruit_dic)}")
#4
if 'apple' in fruit_dic:
    print('apple is in fruits_dic.')
else:
    print('apple is not in fruits_dic.')
if 'mango' in fruit_dic:
    print('mango is in fruits_dic.')
else:
    print('mango is not in fruits_dic.')

TypeError: 'list' object is not callable

In [39]:
# LAB 6-6 1, 2
#1
the_day = (1919, 3, 1)
year, month, day = the_day
print(f"{year}년 {month}월 {day}일은 삼일절입니다.")
#2
list1 = [10, 20, 30]
tuple1 = tuple(list1)
a, b, c = tuple1
print(f"a = {a}\nb = {b}\nc = {c}")

1919년 3월 1일은 삼일절입니다.
a = 10
b = 20
c = 30

In [1]:
# LAB 6-7 1, 2
#1
person = ('홍길동', 2019001, 179)

#2
person[1] = 2019003
TypeError: 'tuple' object does not support item assignment
    
#3
person = ('홍길동', 2019001, 179)
a = list(person)
a[1] = 202003
person = tuple(a)
print(person)

SyntaxError: invalid syntax (Temp/ipykernel_4920/1531867162.py, line 6)

In [2]:
# LAB 6-9 1, 2
#1
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print(s1)

#2
greet = 'Good afternoon'
a = set(greet)
print(a)

In [ ]:
# LAB 6-10

"""
1) {10, 20, 30, 40, 50, 60, 70}
2) {30, 40}
3) {10, 20}
4) {10, 20, 50, 60, 70}
5) False
6) False
7) False
"""